In [109]:
import os
import numpy as np
#import pandas as pd

In [110]:
# 設定 data_path
# dir_data = '.\data'
dir_data = '..\data'

In [111]:
#print(os.getcwd())
print(os.listdir(path='..'))

['.git', 'data', 'homework', 'README.md']

In [112]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

print(type(app_train))

Path of read in data: ..\data\application_train.csv
<class 'pandas.core.frame.DataFrame'>

In [113]:
# 資料的 row 數以及 column 數
app_train.shape

(307511, 122)

In [114]:
# 列出所有欄位
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [115]:
# 截取部分資料
#app_train[['NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR']]
#app_train[app_train['CODE_GENDER'] == 'M']
#app_train[(app_train['CODE_GENDER'] == 'M') & (app_train['FLAG_OWN_CAR'] == 'Y')]
#app_train[app_train['FLAG_OWN_CAR'] =='Y'].groupby(by = 'NAME_CONTRACT_TYPE')[['AMT_INCOME_TOTAL','AMT_CREDIT']].mean()
app_train[app_train['FLAG_OWN_CAR'] =='Y'][['NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR']]

       NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
2         Revolving loans           M            Y
6              Cash loans           F            Y
7              Cash loans           M            Y
13             Cash loans           M            Y
15             Cash loans           M            Y
20        Revolving loans           M            Y
21             Cash loans           F            Y
24             Cash loans           M            Y
28             Cash loans           M            Y
33             Cash loans           M            Y
39        Revolving loans           M            Y
49             Cash loans           M            Y
51             Cash loans           M            Y
52             Cash loans           M            Y
54             Cash loans           M            Y
58             Cash loans           M            Y
59             Cash loans           M            Y
62             Cash loans           M            Y
64             Cash loans           M            Y
66             Cash loans           F            Y
69             Cash loans           M            Y
71             Cash loans           M            Y
82             Cash loans           M            Y
83        Revolving loans           M            Y
85             Cash loans           M            Y
86             Cash loans           F            Y
92             Cash loans           M            Y
93             Cash loans           F            Y
94             Cash loans           M            Y
95             Cash loans           M            Y
...                   ...         ...          ...
307408         Cash loans           F            Y
307414         Cash loans           F            Y
307415         Cash loans           M            Y
307416         Cash loans           F            Y
307421         Cash loans           M            Y
307425    Revolving loans           M            Y
307427         Cash loans           F            Y
307434         Cash loans           F            Y
307435         Cash loans           M            Y
307437         Cash loans           F            Y
307442         Cash loans           M            Y
307445         Cash loans           F            Y
307449         Cash loans           M            Y
307451         Cash loans           M            Y
307452         Cash loans           F            Y
307456         Cash loans           F            Y
307459         Cash loans           M            Y
307460         Cash loans           M            Y
307462         Cash loans           F            Y
307473         Cash loans           F            Y
307474         Cash loans           M            Y
307482         Cash loans           F            Y
307484         Cash loans           F            Y
307486         Cash loans           F            Y
307491         Cash loans           M            Y
307492         Cash loans           M            Y
307494         Cash loans           M            Y
307495         Cash loans           M            Y
307497         Cash loans           F            Y
307498         Cash loans           M            Y

[104587 rows x 3 columns]